* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 217, 166);
}

.h1-title-container {
  display: flex;
  justify-content: center;
}

.h1-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 40px;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
}

.category-caption {
  font-family: Poppins;
  color: rgb(41, 41, 41);
  font-weight: bold;
}

table {
  font-family: Poppins;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.20);
  border-radius: 6px;
}

td, th {
  text-align: left;
  padding: 8px;
}


.container {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 10px;
  border-radius: 6px;
}

.main-container {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}

.search-input {
  width: 15%;
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
  border-style: none;
  outline-style: none;
  margin-left: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.20);
  border-radius: 6px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.bold-text {
  font-weight: bolder;
}

.table-start {
  font-family: Poppins;
  background-color: white;
  color: rgb(0, 231, 143);
  border-color: rgb(0, 231, 143);
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
}

.table-start:hover {
  background-color: rgb(0, 231, 143);
  color: white;
  transition: 0.15s;
}

.table-mark-as-done {
  font-family: Poppins;
  background-color: white;
  color: rgb(0, 174, 255);
  border-style: solid;
  border-color: rgb(0, 174, 255);
  cursor: pointer;
}

.table-mark-as-done:hover {
  background-color: rgb(0, 174, 255);
  color: white;
  transition: 0.15s;
}