* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WELCOME SECTION style */
.welcome-main-container {
  display: flex;
  justify-content: center;
}

.welcome-box-container {
  margin-top: 100px;
  width: 40%;
  text-align: center;
  background-color: white;
  padding: 40px 70px;
  border-radius: 16px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
}

.welcome-text {
  font-family: Poppins;
}

.welcome-caption {
  margin-top: 15px;
  font-family: Poppins;
  font-size: 20px;
}
/* WELCOME SECTION style */

/* BUTTON style */
.getstarted-btn {
  margin-top: 20px;
  font-family: Poppins;
  width: 35%;
  font-size: 20px;
  border-radius: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

.getstarted-btn:hover {
  background-color: white;
  color: black;
  transition: 0.15s;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
/* BUTTON style */